<h2>Book List</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Asset number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books" (click)="selectBook(book)" [class.active]="isSelected(book)">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.category}}</td>
            <th>{{book.rating}}</th>
        </tr>
    </tbody>
</table>