<h2>Book List</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Asset number</th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Publisher</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr 
            *ngFor="let book of books"
            [class.active]="isSelected(book.id)" 
            (click)="selectBook(book)">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.category}}</td>
        </tr>
    </tbody>
</table>